.places__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    width: 484px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .places__paragraph {
        width: 456px;
    }

}

@media screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
        width: 352px;
    }

}

@media screen and (max-width: 320px) {
    .places__paragraph {
        font-size: 16px;
        max-width: 288px;

    }

}